
resources:
- name: bigtable-instance
  type: bigtableadmin.v2.instance
  properties:
    parent: projects/angelic-edition-188121
    instanceId: bigtabletemplate
    instance: 
        displayName: bigtabletemplate
    clusters:
      cluster1:
        location: projects/angelic-edition-188121/locations/us-east1-c
        serveNodes: 3