kind: compute#firewall
name: instanceFirewall
description: Firewall for instance
network: global/networks/default
sourceTags:
    - CSYE6225
targetTags:
    - CSYE6225
allowed:
    - {IPProtocol: TCP, ports: ['22', '80', '443', '8080', 12345-12349]}
